<nav class="bottom_nav" aria-label="Mobile navigation">
  <a class="bottom_nav_item" href="./summary.html">
    <span class="bottom_nav_icon bottom_nav_icon_summary" aria-hidden="true"></span>
    <span>Summary</span>
  </a>

  <a class="bottom_nav_item" href="./add_task.html">
    <span class="bottom_nav_icon bottom_nav_icon_add_task" aria-hidden="true"></span>
    <span>Add Task</span>
  </a>

  <a class="bottom_nav_item" href="./board.html">
    <span class="bottom_nav_icon bottom_nav_icon_board" aria-hidden="true"></span>
    <span>Board</span>
  </a>

  <a class="bottom_nav_item" href="./contacts.html">
    <span class="bottom_nav_icon bottom_nav_icon_contacts" aria-hidden="true"></span>
    <span>Contacts</span>
  </a>
</nav>