<div class="sidebarLeft">
  <aside class="sidebar">
    <a class="sidebar_logo" href="./summary.html" aria-label="Go to summary">
      <img src="../assets/img/logo.png" alt="Join logo" />
    </a>

    <nav class="sidebar_nav" aria-label="Main navigation">
      <a class="nav_item sidebar_link" href="../htmls/summary.html">
        <span
          class="sidebar_icon sidebar_icon_summary"
          aria-hidden="true"
        ></span>
        <span class="sidebar_text">Summary</span>
      </a>
      <a class="nav_item sidebar_link" href="../htmls/add_task.html">
        <span
          class="sidebar_icon sidebar_icon_add_task"
          aria-hidden="true"
        ></span>
        <span class="sidebar_text">Add Task</span>
      </a>
      <a class="nav_item sidebar_link" href="../htmls/board.html">
        <span class="sidebar_icon sidebar_icon_board" aria-hidden="true"></span>
        <span class="sidebar_text">Board</span>
      </a>
      <a class="nav_item sidebar_link" href="../htmls/contacts.html">
        <span
          class="sidebar_icon sidebar_icon_contacts"
          aria-hidden="true"
        ></span>
        <span class="sidebar_text">Contacts</span>
      </a>
    </nav>

    <div class="sidebar_footer">
      <a
        class="sidebar_footer_link"
        href="../htmls/privacy_policy.html"
        onclick="
          openFooterContent('./privacy_policy.html', this);
          return false;
        "
        >Privacy Policy</a
      >
      <a
        class="sidebar_footer_link"
        href="../htmls/legal_notice.html"
        onclick="
          openFooterContent('./legal_notice.html', this);
          return false;
        "
        >Legal notice</a
      >
    </div>
  </aside>
</div>
