<div class="sidebarLeft">
  <aside class="sidebar">
    <a class="sidebar_logo" href="./summary.html" aria-label="Go to summary">
      <img src="../assets/img/logo.png" alt="Join logo" />
    </a>

    <nav class="sidebar_nav" aria-label="Main navigation">
      <a class="nav_item sidebar_link" href="./summary.html" aria-label="Summary">
        <img class="icon_default" src="../assets/icons/summary.png" alt="" />
        <img class="icon_hover" src="../assets/icons/summary_hover.png" alt="" />
      </a>

      <a class="nav_item sidebar_link" href="./add_task.html" aria-label="Add Task">
        <img class="icon_default" src="../assets/icons/add_task.png" alt="" />
        <img class="icon_hover" src="../assets/icons/add_task_hover.png" alt="" />
      </a>

      <a class="nav_item sidebar_link" href="./board.html" aria-label="Board">
        <img class="icon_default" src="../assets/icons/board.png" alt="" />
        <img class="icon_hover" src="../assets/icons/board_hover.png" alt="" />
      </a>

      <a class="nav_item sidebar_link" href="./contacts.html" aria-label="Contacts">
        <img class="icon_default" src="../assets/icons/contacts.png" alt="" />
        <img class="icon_hover" src="../assets/icons/contacts_hover.png" alt="" />
      </a>
    </nav>

    <div class="sidebar_footer">
      <a class="sidebar_footer_link" href="#" onclick="renderContent('./privacy_policy.html'); return false;">Privacy Policy</a>
      <a class="sidebar_footer_link" href="#" onclick="renderContent('./legal_notice.html'); return false;">Legal notice</a>
    </div>
  </aside>
</div>