.board {
    display: flex;
    flex-direction: column;  
}


.titel_and_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.board h2 {
    font-size: 48px;
    font-weight: 700;
}

/* Search Field */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.search_field {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: var(--main-background);
    border: 1px solid var(--color-tertiary);
    border-radius: 10px;
}

.search_field input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 20px;
    font-weight: 400;
}

.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 24px;
    border-left: 1px solid var(--color-tertiary);
    cursor: pointer;
}

.search_icon img {
    width: 32px;
    height: 32px;
}

.search button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

/* Task Field */
.task_steps{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.to_do, .in_progress, .await_feedback, .done {
    display: flex;
    flex-direction: column;
}

.task_column {
    display: flex;
    justify-content: space-between; 
    padding-bottom: 24px;
}

.task_column h3 {
    font-size: 24px;
    font-weight: 700;
    color: var( --color-tertiary);
}

.task_column button{
    border: 1px solid var(--color-tertiary);
    border-radius: 8px;
    cursor: pointer;
}

.task_column img {
    width: 22px;
    padding: 3px;   
}

.task_field{
 min-height: 700px;
 min-width: 250px;
 display: flex;
 flex-direction: column;
 gap: 32px;
 
}
/* Card */
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.card button{
    color: white;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
}

.card p {
   color: var(--color-tertiary); 
}

.user_story{
    background-color: var(--color-quinary);
}

.technical {
    background-color: var(--color-quaternary);
}